<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPABASE_URL</key>
    <string>https://zyaedfmxtjsnqziqtmta.supabase.co</string>
    <key>SUPABASE_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5YWVkZm14dGpzbnF6aXF0bXRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk0MzM3NTEsImV4cCI6MjA1NTAwOTc1MX0.PA13NcRQxKtPvgjAXFOwSrDcoh2mIddy5e5SoMtCFTM</string>
</dict>
</plist>
